<div class="group flex flex-col h-dvh">
  <Layouts.flash_group flash={@flash} />

  <header class="grid items-center px-4 pt-2 sm:grid-cols-[1fr_auto] sm:px-6 sm:pt-4 lg:grid-cols-[1fr_auto_1fr]">
    <div class="max-sm:w-full sm:justify-self-end">
      <Layouts.theme_toggle />
    </div>
  </header>

  <main>
    <div class="">
      <h1 class="font-display leading-6">
        Brilliant Fantastic
      </h1>
    </div>
  </main>
</div>
