<div class="flex flex-col min-h-dvh">
  <Layouts.flash_group flash={@flash} />

  <div class="flex justify-end px-6 pt-4">
    <Layouts.theme_toggle />
  </div>

  <section class="flex-1 grid lg:grid-cols-2 items-center px-6 lg:px-16">
    <div>
      <h1 class="font-display text-7xl lg:text-9xl leading-none">
        Brilliant Fantastic
      </h1>
    </div>
    <div></div>
  </section>
</div>

<Layouts.nav_menu />

<.latest_blog_section />

<.meet_jamie />

<.contact_section />
