header {
  display: table;
  padding: 0 5%;
  height: 80px;
  position: relative;
  -webkit-box-sizing: border-box;
  width: 100%;
  z-index: 9;

  a.logo {
    background: {
      image: image-url('/images/bf-robot-bw.png');
      repeat: no-repeat;
      position: center;
      size: auto 60px;
    }
    display: block;
    height: 100%;
  }
}
