$header-height: 200px;

header {
  display: table;
  padding: 0 5%;
  height: $header-height;
  position: relative;
  -webkit-box-sizing: border-box;
  width: 100%;
  z-index: 9;

  .hamburger {
    background-color: transparent;
    border: none;
    border-radius: 0.57143rem;
    cursor: pointer;
    z-index: 9;

    .lines, .lines:before, .lines:after {
      background-color: $alert;
      border-radius: 200px;
      display: inline-block;
      height: 3px;
      width: 34px;
    }

    .lines {
      cursor: pointer;
      position: relative;

      &:before, &:after {
        content: '';
        left: 0;
        position: absolute;
      }

      &:before {
        top: 8px;
      }

      &:after {
        top: -8px;
      }
    }
  }

  li.logo {
    height: $header-height;

    a {
      background: {
        image: image-url('/images/bf-robot-bw.png');
        repeat: no-repeat;
        position: center;
        size: auto 60px;
      }
      display: block;
      height: 100%;
      padding: 0px 100px;
      width: 60px;

      &:hover {
        border-bottom: none;
      }
    }
  }

  li {
    line-height: $header-height;
  }
}
