body {
  color: $default;
  background: {
    color: $background;
    image: url("/images/bg.png");
    repeat: repeat;
  }
  @extend %opensans-light;
}

a {
  color: $light;

  &:hover {
    border-bottom: solid 1px $light;
  }
}
