<section id="section-blog" class="px-6 lg:px-16 py-16">
  <h2 class="font-display text-2xl mb-8">Latest blog post</h2>
  <div class="grid lg:grid-cols-3 gap-8">
    <.featured_post />
    <.recent_posts />
  </div>
</section>

